html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial',
        sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #222;
    letter-spacing: 0.01em;
}

h1 {
    font-weight: normal;
    line-height: 1.3;
}

a {
    color: inherit;
}

pre,
code {
    font-family: 'Monaco', monospace;
    font-size: 0.8rem;
    line-height: 1.3;
    background-color: #eee;
}

pre {
    padding: 1rem;
}

code {
    display: inline-block;
    padding: 0.25rem;
}

#root {
    height: 100%;
}

.page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.page-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #222;
    border-bottom: 0.25rem solid #00d994;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.page-header-title {
    flex: 0;
}

.page-header-url {
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

.page-header-filter {
    flex: 0;
    white-space: nowrap;
}

.input {
    margin-right: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: inherit;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.button {
    padding: calc(0.5rem + 2px) 0.75rem;
    font-size: inherit;
    line-height: 1;
    border: 0;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
}

.logs {
    padding: 1rem;
    flex: 1;
    overflow: auto;
}

.log-entry {
    margin: 0 0 0.5rem 0;
    padding: 0.4rem;
    overflow: auto;
}

.log-entry:nth-of-type(odd) {
    background-color: #ddd;
}

.url {
    user-select: all;
}
